$ex-color: rgb(167, 208, 221);
$nd100: rgba(0,0,0,1);
$nd80: rgba(0,0,0,0.80);
$nd72: rgba(0,0,0,0.72);
$nd64: rgba(0,0,0,0.64);
$nd56: rgba(0,0,0,0.56);
$nd48: rgba(0,0,0,0.48);
$nd40: rgba(0,0,0,0.40);
$nd32: rgba(0,0,0,0.32);
$nd24: rgba(0,0,0,0.24);
$nd16: rgba(0,0,0,0.16);
$nd12: rgba(0,0,0,0.12);
$nd08: rgba(0,0,0,0.08);
$nd06: rgba(0,0,0,0.06);
$nd04: rgba(0,0,0,0.04);
$nd02: rgba(0,0,0,0.02);
$nd00: rgba(0,0,0,0.00);
$nls100: rgba(255,255,255,1);
$r500: #FF5C5C;
$b500: #5694F0;
$ntm72: #9AA9B8;

$color-text-dark-primary: $nd80;
$color-text-dark-secondary: $nd56;
$color-text-dark-hinted: $nd32;