%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
%flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}
%flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}
%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.v-area-8 {
  width: 100%;
  height: 8px;
}
.v-area-16 {
  width: 100%;
  height: 16px;
}
.v-area-24 {
  width: 100%;
  height: 24px;
}
.v-area-32 {
  width: 100%;
  height: 32px;
}
.v-area-40 {
  width: 100%;
  height: 40px;
}
.v-area-48 {
  width: 100%;
  height: 48px;
}